<!-- views/partials/head.ejs -->

<meta charset="UTF-8">
<title>Creative Securities - Social pattern mapper</title>

<!-- CSS (load bootstrap from a CDN) -->
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<script  type="text/javascript" src="https://code.jquery.com/jquery-3.1.0.min.js"   integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s="   crossorigin="anonymous"></script>

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>



<style>

	@font-face {
	    font-family: SourceSansPro;
//	    src: url(sansation_light.woff);
	}

    body    { padding-top:50px; }

	.trespass_red {
		color: #ff2800;
	}
	.trespass_grey {
		color: #ededeb;
	}
	.trespass_black {
		color: #11110e;
	}
	.trespass_grey_light {
		color: #b6b6b3;
	}
	.trespass_grey_medium {
		color: #7f7f7c;
	}
	.trespass_grey_dark {
		color: #484845;
	}
	.trespass_grey_darker {
		color: #32322f;
	}
	
</style>

<link rel="stylesheet" href="/stylesheets/dropzone.css">

<script type="text/javascript" src="/javascripts/dropzone.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.5/validator.js"></script>