<!-- views/partials/head.ejs -->

<meta charset="UTF-8">
<title>Creative Securities Actor View</title>

<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<style>
    body    { padding-top:50px; }
</style>

<link rel="stylesheet" href="/stylesheets/dropzone.css">
<script type="text/javascript" src="/javascripts/dropzone.js"></script>