<!-- views/partials/header.ejs -->

<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">

        <div class="navbar-header">
            <a class="navbar-brand" href="/">
                <em>INTER</em>ACTOR 
            </a>
        </div>

        <ul class="nav navbar-nav">
			<% if (typeof(user) !== 'undefined') {%>
				<li><a href="/projects">Projects</a></li>
				<li> <a href="">|</a> </li>
			<% } else { %>
				
			<% } %>
			<% if (typeof(user) !== 'undefined') {%>
				<li><a href=""><%= user.username %></a></li>
				<li><a href="/logout">Logout</a></li>	
			<% } else { %>
				<li><a href="/login">Login</a></li>
				<li><a href="/register">Register</a></li>
			<% } %>
        </ul>
      
	  	
    </div>
</nav>