<!-- views/partials/header.ejs -->

<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">

        <div class="navbar-header">
            <a class="navbar-brand" href="/">
                <em>INTER</em>ACTOR 
            </a>
        </div>

        <ul class="nav navbar-nav">
			<% if (typeof(user) !== 'undefined') {%>
				<li><a href="/projects">Projects</a></li>
				<li> <a href="">|</a> </li>
			<% } else { %>
				
			<% } %>
			<% if (typeof(user) !== 'undefined') {%>
				<li><a href=""><%= user.username %></a></li>
				<li><a href="/logout">Logout</a></li>	
			<% } else { %>
				<li><a href="/login">Login</a></li>
				<li><a href="/register">Register</a></li>
			<% } %>
			<li><a href="/help">Help</a></li>
			<li><a href="mailto:mark@geekyoto.com?&subject=INTERActor%20Issue%20Report&body=What%20do%20you%20think%20are%20the%20strengths%20and%20weaknesses%20of%20this%20app%3F%0AWould%20you%20consider%20using%20it%20in%20your%20risk%20assessments%2C%20and%20if%20so%2C%20in%20what%20situations%2C%20and%20how%3F%0ADo%20you%20think%20it%20could%20be%20used%20in%20conjunction%20with%20any%20other%20tools%20and%20methods%20that%20are%20available%20to%20you%20in%20your%20risk%20assessment%20protocols%3F%0AFinally%2C%20Do%20you%20have%20any%20suggestions%20about%20how%20the%20app%20could%20be%20improved%3F">Email Feedback</a></li>
        </ul>
      
	  	
    </div>
</nav>

