<!DOCTYPE html>
<html lang="en">
	<head>
		<% include partials/head %>

	</head>
	<body class="container">
		<header>
			<% include partials/header %>
		</header>
		
		<main>
			<div class="jumbotron">
			<p>The online tool to capture and analyse the results of creative security workshops.</p>

			<h2>Creative Securities</h2>
			<p>Text about the Creative Securities project</p>
			
			<h2>Code</h2>
			<p>System architecture and code by mark simpkins <a href="mailto:mark@geekyoto.com">email</a></p>
			
			<div>
			

		</main>
		
		<footer>
			<% include partials/footer %>
		</footer>
	</body>
</html>
