<!DOCTYPE html>
<html lang="en">
	<head>
		<% include partials/head %>

		<script>
		var counter = 1;
		
		function addInput(divName){
    	
        	var newdiv = document.createElement('div');
          	newdiv.innerHTML = "<input type='text' name='label'> <input type='text' name='value'>";
          	document.getElementById(divName).appendChild(newdiv);
          	counter++;
     	
		}

	
		</script>
	</head>
	<body class="container">
		<header>
			<% include partials/header %>
		</header>
		
		<main>
			<div class="jumbotron">

			<div>
		 
		 <h2>List of Actors</h2>

           <% if(typeof(errorMessage) !== 'undefined') {%>
              <span><%= errorMessage %></span>
           <% } %>
			<ul>		 
           <% actors.forEach(function(actor) { %>

			 <li><a href="/actors/<%= actor._id %>"><%= actor.name %></a></li>

		<% }); %>
			</ul>
		<hr>
		<button type="add" name="add" class="btn btn-default" onclick="window.location.href='/actors/add';">add actor</button>
		</main>
		
		<footer>
			<% include partials/footer %>
		</footer>
	</body>
</html>