<!DOCTYPE html>
<html lang="en">
	<head>
		<% include partials/head %>

	</head>
	<body class="container">
		<header>
			<% include partials/header %>
		</header>
		
		<main>
			<div class="jumbotron">
			<p>The online tool to capture and analyse the results of creative security workshops.</p>

			
			<div>
			
<p>Welcome to InterActor 1.0 Beta

<p>You are invited to Register by creating an account on InterActor, with a username and password of your choice (please make a note of these, as there is currently no method in place for retrieving these).

<p>Once you are registered and logged in, you will be able to create a Project with a title and a Definition, and subsequently add a Workshop. If more than one Workshop is made within a Project, a list of these will appear, and it is inside these workshops that you can view a small and anonymised sample dataset. This is  is designed to demonstrate how data is being mapped by InterActor, and is taken from a workshop carried out with a small London-based social enterprise in 2014, examining a specific service design question.

<p>From this point, this Beta version of the prototype enables you to rename the items and to edit their properties, including adding or removing the relationships between them. Renaming and editing the sample data is the starting place for digitally documenting LEGO and other types of physical models drawings or assemblages that you would like to see mapped. Finally, it is possible to export your work as a digital file based upon your tangible models (currently we support .xml, with .csv coming soon).

<p>Protocols for entering data

<p>The fields that are available for entering the details of model items include:

<p>Name: a proper noun that can easily be remembered and used to connect items in drop-down lists.

<p>Connection: primarily edited via drop-down lists in the Relationships section at the bottom of the screen (also shown as 'target,source' e.g: '1,2' in the spreadsheet view of the data).

<p>Narrative fragment: a story developed in the physical model can be told here, by entering one fragment of it at a time.

<p>Class: the type of item (in this case selected from 'Actor', 'Infrastructure', 'Data', or 'Location', and others may be put in place as desired). 

<p>Group: the formal or informal groups that an item belongs to.

<p>Scale: sets the sizes of icons on the map. This is a numeric value to represent how the item has been built, its scale relative to others (in this case Scale is given by averaging the items height and mass of a LEGO feature, but you are welcome to use a different approach more suited to your project). 

<p>Posneg: sets the thickness of connecting lines on the map. This is a numeric value to represent how this item is seen, perhaps an element with a positive role in the picture, or one with a potential negative impact, for instance. Again, this value can be adapted to suit the project and its problem definition.

<p>Issue: a field for tracking particular issues or concerns that relate to this place on the map, whether issues of cybersecurity, service design, social practice, or others.

<p>Participant speech: notes and observations about the workshop can be recorded here, including what people have said during workshops about entities they have created.

<p>New fields will be added as the prototype is developed, and in addition, new blank spreadsheets will be available.

<p>Demonstration video
 
<p>The video below shows how InterActor can be used.
		</main>
		
		<footer>
			<% include partials/footer %>
		</footer>
	</body>
</html>