<!DOCTYPE html>
<html lang="en">
	<head>
		<% include partials/head %>
		
	</head>
	<body class="container">
		<header>
			<% include partials/header %>
		</header>
		
		<main>
			
			<div class="container-fluid">
			   <div class="row">
				<img src="/banner.jpg" class="img-responsive">
			   </div>
			</div>
			
			<div class="jumbotron">
			<p>CYBER SECURITY is a truly interdisciplinary field of study that is driven by complex, real-world challenges. Because of its historical associations, the field tends to be annexed as a technological concern. Increasingly governments and organisations are recognising that cyber-security risk is socially and politically constructed, a significant challenge for all aspects of governance. </p>
			
			<p><em>INTER</em>ACTOR is designed to capture data from workshops where physical models represent perspectives upon cyber-security resilience and risk. These models are rich social and spatial pictures constructed by those working in the midst of these real-world problems.</p>

		</div>

		</main>
		
		<footer>
			<% include partials/footer %>
		</footer>

	</body>
</html>
