<!DOCTYPE html>
<html lang="en">
	<head>
		<% include partials/head %>
		
			</head>
			<body class="container">
				<header>
					<% include partials/header %>
				</header>
		
				<main>
					<div class="jumbotron">

					<div>
		 
				 
				<h2>Register</h2>
				<form method="post" action="/register" role="form" data-toggle="validator" class="form-horizontal">
	 
		           <% if(typeof(error) !== 'undefined') {%>
		              <span><%= error %></span>
		           <% } %>

  <p>This is an ALPHA system, no critical information should be submitted. No liability for security of data or system will be accepted at this stage.</p>
  
		           <div class="form-group">

				 	<label for="username">username</label>
		            <input type="text" class="form-control" name="username" id="username" required/> <br>
				 	<label for="password">password</label>
		            <input type="password" class="form-control" name="password" id="password" required/> <br>
			        <p>
			           <button type="submit" name="submit" id="submit" class="btn btn-default">Register</button>
			        </p>
		
		
			     </form>
				</main>
		
				<footer>
					<% include partials/footer %>
				</footer>
			</body>
		</html>